$fontColor: #455073;
$formWidth: 70%;
$initMarginTop: 50px;

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container ion-img{
  transform: scale(1.2);
}

.loginInput, .loginButton{
  width: $formWidth;
  max-width: 300px;
}

.loginInput{
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
  border-radius: 60px;
  text-indent: 10px;
  font-size: 0.8em;
  --background: #f1f0ee !important;
}

.loginButton{
  text-align: center;
  margin-top: $initMarginTop;
  --background: #3BB537;
  --border-radius: 60px;
}

#container ion-label{
  margin-top: $initMarginTop * 2;
}

.loginIcon{
  margin-top: $initMarginTop * 3;
  font-size: 40px;
}
