$fontColor: #455073;
$formWidth: 70%;

*{
  color: $fontColor !important;
  --placeholder-color: $fontColor !important;
}

.loginInput{
  width: $formWidth;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
  border-radius: 60px;
  text-indent: 10px;
  font-size: 0.8em;
}

.loginButton{
  width: $formWidth;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 55px;
  --background: #3BB537;
  --border-radius: 60px;
}

.loginIcon{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  font-size: 40px;
}

#container ion-label{
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -70%);
}

#container ion-img{
  transform: scale(1.2);
}
