<ion-header>
    <ion-title>
        <span (click)="goBack()"><ion-icon name="chevron-back-outline"></ion-icon>
            {{ subject.name | uppercase }}</span>
    </ion-title>
</ion-header>
<ion-content>
    <ion-card mode="ios" class="{{ class }}">
        <ion-card-header>
            <ion-card-title>Media: {{ average.toFixed(2) }}</ion-card-title>
        </ion-card-header>
    </ion-card>

    <div *ngFor="let grade of grades">
        <ion-item>
            <ion-label>{{ grade.dayDate | date: 'dd.MM.yyyy' }} - {{ grade.mark }}</ion-label>
        </ion-item>
    </div>

    <div>
        <h5>Aggiungi una nuova nota
            <ion-icon name="add-circle-outline"></ion-icon>
        </h5>
        <ion-input placeholder="Nota" [(ngModel)]="newGrade.mark"></ion-input>
        <ion-input placeholder="Valore" [(ngModel)]="newGrade.score"></ion-input>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="newGrade.dayDate"></ion-datetime>
        <ion-button (click)="add()">Aggiungi</ion-button>
    </div>
</ion-content>
