<ion-header>
    <ion-title>
        <span (click)="goBack()"><ion-icon name="chevron-back-outline"></ion-icon>
            {{ subject.name | uppercase }}</span>
        <ion-icon name="add-outline" (click)="presentModal()"></ion-icon>
    </ion-title>
</ion-header>
<ion-content>
    <ion-card mode="ios" class="{{ class }}">
        <ion-card-header>
            <ion-card-title>Media: {{ average.toFixed(2) == 0 ? '-' : average.toFixed(2) }}</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card mode="ios">
        <ion-list *ngFor="let grade of grades">
            <ion-item lines="none">
                <ion-label>{{ grade.dayDate | date: 'dd.MM.yyyy' }} - {{ grade.mark }}</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
