.green {
  background-color: #3BB537;
}

.red {
  background-color: #EE4549;
}

.yellow {
  background-color: #FABC2C;
}

.subject-media-label{
  margin: 0 !important;
  padding: 0 !important;
  background-color: #FABC2C;
}

ion-list ion-item{
  --background: #6C7688 !important;
}

ion-list ion-item ion-label{
  color: #F1F0EE !important;
}

