.green {
  background-color: #3BB537;
}

.red {
  background-color: #EE4549;
}

.yellow {
  background-color: #FABC2C;
}

.gray{
  background-color: #9f9f9f
}

ion-list ion-item{
  --background: #6C7688 !important;
}

ion-list:not(:last-child){
  border-bottom: 1px solid #455073 !important;
}

ion-list ion-item ion-label{
  color: #F1F0EE !important;
}

