<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="/">
            <ion-icon name="bar-chart-outline"></ion-icon>
            <ion-label>Grades</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="../login">
            <ion-icon name="library-outline"></ion-icon>
            <ion-label>Subjects</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map">
            <ion-icon name="journal-outline"></ion-icon>
            <ion-label>Homeworks</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="about">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>About</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
