ion-segment{
  position: absolute !important;
  bottom: 0 !important;
  background: #455073 !important;
  padding: 6px !important;
}

ion-segment-button ion-label{
  color: #F1F0EE !important;
  font-size: 1em !important;
}

ion-segment-button ion-icon{
  color: #F1F0EE !important;
  font-size: 1.5em !important;
}

ion-segment-button{
  padding: 1px !important;
}
