<ion-segment mode="ios">
    <ion-segment-button routerLink="/grades" class="segment-button-checked">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Grades</ion-label>
    </ion-segment-button>

    <ion-segment-button routerLink="/login">
        <ion-icon name="library-outline"></ion-icon>
        <ion-label>Subjects</ion-label>
    </ion-segment-button>

    <ion-segment-button routerLink="/grades">
        <ion-icon name="journal-outline"></ion-icon>
        <ion-label>Homeworks</ion-label>
    </ion-segment-button>

    <ion-segment-button routerLink="/grades">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
    </ion-segment-button>
</ion-segment>
