ion-icon{
  font-size: 1.5em !important;
  float: right !important;
}

.header-link{
  float: right;
  color: white !important;
  padding-right: 3%;
  padding-left: 3%;
  font-size: 10pt;
}

.subject-icon-delete{
  float: right !important;
  color: #EE4549 !important;
}

