<ion-header>
  <ion-title>
    {{ exist ? 'Modifica' : 'Crea' }}
    <ion-label class="header-link" (click)="dismiss()">Fine</ion-label>
    <ion-label class="header-link" (click)="closeModal()">Cancella</ion-label>
  </ion-title>
</ion-header>

<ion-content class="no-menu">
  <ion-item>
    <ion-label>Titolo</ion-label>
    <ion-input placeholder="Titolo" [(ngModel)]="homework.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime [(ngModel)]="exist ? calculatedDate : homework.dayDate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Materia</ion-label>
    <ion-select [(ngModel)]="exist ? selectedSubject.id : homework.subjectRef">
      <ion-select-option *ngFor="let subject of subjects" [value]="subject.id">
        {{ subject.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Descrizione</ion-label>
    <ion-textarea [(ngModel)]="homework.description"></ion-textarea>
  </ion-item>
</ion-content>
